@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

:root {
  --primary: #fff;
  --secondary: #000;
  --gradient-1: #002265;
  --gradient-2: #7b0000;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1em;
}

html {
  background: linear-gradient(
    var(--secondary),
    var(--gradient-2),
    var(--secondary)
  );
  color: var(--primary);
}

/*******************************************************
                        HEADER:
********************************************************/

.home header {
  height: 45vh;
  background: var(--secondary);
  background-image: url("../images/header-img.jpg");
  filter: contrast(100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 0 40px 22px #080811;
  margin: 4em 0em 2em 0em;
}

.home header::after {
  content: "";
  background: var(--secondary);
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.home header article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.home header article h1 {
  /* font-family: "Amatic SC", cursive; */
  font-family: "Reggae One", cursive;
  /* font-size: 5em; */
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-weight: normal;
  margin-bottom: 1em;
}

.home header article div {
  width: 50%;
  height: 50px;

  position: relative;
}

.home header article div input {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.home header article div button {
  background: transparent;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
}

.home header article button::after {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  color: white;
  display: block;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.home header article div input:focus {
  /* outline: solid 10px var(--gradient-2); */
  outline: none;
  background-color: #490000;
  /* filter: contrast(300%); */
}

/*******************************************************
                        MAIN:
********************************************************/

h2 {
  font-family: "Amatic SC", cursive;
  font-weight: normal;
}

main {
  padding: 0px 1em;
}

main section h2 {
  margin: 0.5em 0px;
}

main section ul {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(10em, 25em));
  justify-content: center;
}

main section ul li {
  list-style-type: none;
  padding: 20px;
  margin: 10px;
  background-color: black;
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
}

main section ul li img {
  width: 300px;
}

/*******************************************************
                        FOOTER:
********************************************************/

footer {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(96, 96, 96);
  width: 100%;
  max-height: 180px;
  padding: 1.5em 1em;
  margin-top: 2em;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

footer a:hover {
  color: #01b4e4;
}

footer a img {
  width: 200px;
  margin: 1em;
}
